main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    background-repeat: repeat;
}


.logo {
    align-items: center;
    width: 50%;
    height: 50%;
}


.btn {
    align-items: center;
    size-adjust: 200%;
}